
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Simple Blog</title>
</head>
<body>
    <center>
        <h1>Trakya üni</h1>

        <heahder>
            <h1>
                @Html.RouteLink("Simple Blog", "")
            </h1>
            @Html.RouteLink("Giriş Sayfası", "login")
            @Html.RouteLink("Post Listesi", "PostList")
        </heahder>

        @RenderBody()
        <footer>
            &copy; - @DateTime.Now.Year - Me
        </footer>
        @RenderSection("Scripts",false)
    </center>
</body>
</html>
